@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --white : #fff;
    --light : #f3f4ee;
    --fuscha : hsl(334, 94%, 57%);
    --desaturate-fuscha : hsla(334, 94%, 57%, 0.15);
    --desaturate-fuscha-2 : hsla(334, 94%, 57%, 0.1);
    --cyan : hsl(184, 46%, 57%);
    --desaturate-cyan : hsla(184, 46%, 57%, 0.25);
    --desaturate-cyan-2 : hsla(184, 46%, 57%, 0.15);
    --light-blue : #bbeef1;
    --pinkless : #fff3e0;
    --yellow : #f1b813;

    --text-color-primary : #314657;
    --text-color-secondary: #58626e;
    --text-color-third: #9db3be;

    --box-shadow-card: 8px 8px 32px var(--desaturate-fuscha);
    --box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);
    --box-sidebar: 2px 4px 16px var(--desaturate-cyan-2);

    --padding-card: 28px;
    --border-radius-rounded: 50%;
    --border-radius-4: 4px;
    --border-radius-8: 8px;
    --border-radius-12: 12px;
    --border-radius-card: var(--padding-card);

}

.dark-mode {
    --white: #393e46;
    --light: #222831;
    --desaturate-fuscha: hsla(334, 8%, 67%, 0.15);

    --text-color-primary: #eee;
    --text-color-secondary: #eee;

    --box-shadow-card: 8px 8px 32px var(--desaturate-fuscha);
    --box-shadow-card-2: 8px 8px 32px var(--desaturate-cyan);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}


html {
    font-size: 14px;
}

body {
    min-height: 100%;
    background-color: var(--light);
    color:  var(--text-color-primary);
}

::-webkit-scrollbar {
    width: 5px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cyan);
    border-radius: 10px;

}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    padding: 20px 5px 0 20px;
    z-index: 100;
    align-items: start;
}

.modif {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    box-shadow: var(--box-shadow-card);
    margin-bottom: 2rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: .3s ease-in-out;
}

.modif:hover {
    box-shadow: var(--box-shadow-card-2);
}

.sidebar .aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.aside-header .brand {
    display: flex;
    align-items: center;

}

.aside-header .close {
    display: none;
}


.brand img {
    width: 48px;
    height: 48px;
}

.brand h3 {
    font-size: 32px;
    background: var(--fuscha);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

header h2 {
    font-size: 32px;
    padding-bottom: 2rem;
    background: var(--fuscha);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;
}

.scrollbox-inner,
.scrollbox:hover{
    visibility: visible;
}


.recent-updates h2 {
    margin-bottom: 24px;
}

/* .recent-updates {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    padding: var(--padding-card);
    box-shadow: var(--box-shadow-card);
    transition: .3s ease-in-out;
    margin-bottom: 2rem;
} */
.recent-updates .update {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: justify;
    border-radius: var(--border-radius-4);
    padding: 5px 5px 5px 0;
    transition: .2s ease-in;
}

.recent-updates .update:hover {
    box-shadow: var(--box-shadow-card-2);
    cursor: pointer;
    transform: translate(3px, 3px);
}

.scrollbox-inner p {
    font-size: 16px;
}

footer h2 {
    font-size: 24px;
    color: var(--cyan);
    padding: 15px 0 40px;
}

.content {
    position: fixed;
    left: 300px;
    width: calc(100% - 600px);
    display: flex;
    flex-direction: column;
    padding: 20px 3rem 0 1rem;
    height: 100vh;
}
/*Pour la partie SUGGESTION*/
.main-title {
    margin-bottom: .5rem;
    line-height: 1.8;
}

.content .insights {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 2rem;
    margin-top: 10px;
}

.insights .card {
    background-color: var(--white);
    padding: 28px;
    border-radius: 28px;
    box-shadow: var(--box-shadow-card);
    transition: box-shadow 0.3 ease-in-out;
    height: 50vh;
}

.insights .card:hover {
    box-shadow: var(--box-shadow-card-2);
}

.card .card-container {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}

.card .card-header{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: 10px;
    overflow: hidden;
}


.insights .card:nth-child(1) .card-header span {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

.insights .card:nth-child(2) .card-header span {
    color: var(--fuscha);
    border: 1px solid var(--fuscha);
}

.insights .card:nth-child(3) .card-header span {
    color: var(--cyan);
    border: 1px solid var(--cyan);
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    margin-bottom: 1rem;
    width: calc(100% - 250px);
    overflow: auto;

}

.card-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-body .card-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: var(--border-radius-rounded);
}

.card-progress p {
    text-align: justify;
    line-height: 2rem;
    font-size: 16px;
    overflow: hidden;
}

.card-body svg circle {
    fill: none;
    stroke-width: 16px;
    stroke-dasharray: 226.2;
    stroke-dashoffset: 100.2;
    transform: translate(10px, 10px);
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in;
}

.card-body .percentage {
    position: absolute;
    font-weight: 700;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: var(--yellow);
    font-weight: 600;
}

.card-footer .like {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.card-footer .like span:nth-child(1){
    color: var(--text-color-third);
    font-size: 32px;
    transition: .3s ease-in;
}

.card-footer .like span:nth-child(2){
    color: var(--fuscha);
    font-size: 18px;
    transition: .3s ease-in;
}

.card-footer .like span:hover{
    cursor: pointer;
    color: var(--cyan);
}

/*Fin de la suggestion*/
/*LA PARTIE CHAT DEBUTE*/

.content .chat-card {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 100%;
    height: 81%;
    background-color: var(--white);
    border-radius: var(--border-radius-12);
    box-shadow: var(--box-shadow-card);
    transition: .3s ease-in;
    position: relative;
}

.content .chat-card:hover{
    box-shadow: var(--box-shadow-card-2);
}

.chat-card .chat-header{
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: var(--light);
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--desaturate-cyan);
    border-top-left-radius: var(--border-radius-12);
    border-top-right-radius: var(--border-radius-12);
}

.chat-header .back {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-left: 5px;
}

.chat-header .chat-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-header .chat-user p{
    font-size: 20px;
}

.chat-header .chat-user small{
    font-size: 14px;
    opacity: 0.8;
}

.chat-header .chat-call {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    color: var(--cyan);
}

/***********CHAT SMALL TALK************/

.chat-card .small-talk {
    width: 100%;
    height: calc(100%);
    margin-top: 60px;
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    scroll-behavior: smooth;
}

.small-talk .talk {
    margin: 20px 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    max-width: 70%;
}

.talk img {
    width: 50px;
    border-radius: 50%;
}

.small-talk .chat-mes-hor {
    display: flex;
    flex-direction: column;
    max-width: auto;
}

.small-talk .chat-date {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    opacity: 0.7;
}

.right .chat-mes-hor small{
    margin-left: auto;
    margin-right: 25px;
    opacity: 0.7;
    font-size: 11px;
}

.left .chat-mes-hor small{
    margin-right: auto;
    margin-left: 25px;
    opacity: 0.7;
    font-size: 11px;
}

.talk p{
    padding-left: 10px;
    line-height: 25px;
    border-radius: 20px;
    text-align: left;
    max-width: auto;
}

.small-talk .right {
    margin-left: auto;
    width: 100%;
    margin-right: 0;
}

.small-talk .right {
    display: flex;
    flex-direction: row-reverse;
}

.small-talk .right p {
    margin-right: 10px;
    background-color: rgb(72, 23, 128);
    color: #fff;
    padding-right: 10px;
}

.small-talk .left p {
    margin-left: 10px;
    background-color: rgb(216, 216, 216);
    color: #000;
    width: auto;
    padding-right: 10px;
}



/***************FORMULAIRE DU CHAT**********************/
.chat-card .chat-footer {
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer .container-chat {
    background-color: #fff;
    display: flex;
    width: 90%;
    height: 60px;
    border-radius: 9999px; 
}

.container-chat .chat-group {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-group textarea {
    resize: none;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    width: 100%;
    height: 40px;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

.chat-group span {
    font-size: 24px;
    color: #000;
}

.container-chat .chat-file-logo {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding-left: 10px;
    display: block;
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.container-chat .chat-submit {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #fff;
    width: 70px;
    border: none;
    display: flex;
    padding-right: 5px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}


.content h2 {
    font-size: 46px;
    margin: auto;
    background: var(--fuscha);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/*LES FILTRES*/

.filter {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 5px;
    z-index: 100;

}


.filter .header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.header-right .toggle-menu-btn {
    border: none;
    color: var(--text-color-primary);
    font-size: 24px;
    display: none;
    background-color: transparent;
    transition: .3s ease-in;
}

.header-right .toggle-menu-btn:hover {
    cursor: pointer;
}

.header-right .toggle-chat,
.header-right .toggle-chat-1{
    color: var(--fuscha);
    background-color: transparent;
    border: none;
    font-size: 24px;
    display: none;
}

.header-right .toggle-chat:hover,
.header-right .toggle-chat-1:hover{
    cursor: pointer;
}

.header-right .toggle-chat-1{
    color: blue;
}

.header-right .toggle-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--desaturate-cyan);
    border-radius: var(--border-radius-8);
    cursor: pointer;
}

.header-right .toggle-theme span {
    font-size: 20px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in
}

.header-right .toggle-theme span:hover {
    background-color: var(--desaturate-fuscha);
    border-radius: var(--border-radius-8);
}

.header-right .toggle-theme span.active {
    background-color: var(--fuscha);
    border-radius: var(--border-radius-8);
    color: var(--light);
}

.header-right .profile {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.header-right .profile .profile-info {
    font-size: 16px;
}

.filter .filter-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.filter-header span {
    color: var(--cyan);
    font-size: 18px;
}

.filter-header span:hover {
    cursor: pointer;
    color: var(--fuscha);
}

.filter .filter-form {
    /* background-color: var(--white); */
    width: 100%;
    height: 60vh;
    box-shadow: var(--box-shadow-card);
    overflow: auto;
    transition: .3s ease-in-out;
    padding: 5px;
    opacity: 1;
}

.filter-form .formm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.formm .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.form-group .sex {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.form-group .sex label {
    font-size: 14px;
    font-weight: 600;
}

.form-group .sex select {
    padding: .2rem;
    width: 100%;
    border: 1px solid var(--cyan);
    background-color: var(--light);
    border-color: var(--cyan);
    border-radius: 5px;
    color: var(--fuscha);
}

.form-group .sex select .form-element {
    border-color: var(--cyan);
    border-radius: 5px;
    color: var(--fuscha);
}

.form-group .relation{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    width: 100%;
}

.form-group .relation .relation-head{
    font-size: 14px;
    font-weight: 600;
}

.form-group .relation .relation-body{
    display: flex;
    justify-content: center;
    gap: .2rem;
    background-color: var(--desaturate-fuscha);
    border-radius:5px ;
    padding: 2px;
}


.form-group .tranche-head {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-group .tranche-body {
    padding-left: 2rem;
}



.form-group .tranche-body .tranche {
    margin-bottom: 8px;
}

.form-group .tranche-body .tranche label {
    padding-left: 10px;
}

.form-group .ville {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-group .ville .ville-label {
    font-size: 14px;
    font-weight: 600;
}

.form-group .ville input{
    padding: .2rem;
    width: 100%;
    border: 1px solid var(--cyan);
    background-color: var(--light);
    border-color: var(--cyan);
    border-radius: 5px;
    color: var(--fuscha);
}

.form-group .ville input:focus{
    border: 1px solid var(--cyan);
}


.profile-image {
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: var(--border-radius-rounded);
    overflow: hidden;
}

.profile-image-talk {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    border-radius: var(--border-radius-rounded);
    overflow: hidden;
}

.positionRight{
    height: 1vh !important;
    transition: 2s ease-in-out !important;
}

.dnone {
    display: none;
}

.dinline{
    display: inline;
}

.stroke-fusha {
    stroke: var(--fuscha);
}

.stroke-yellow {
    stroke: var(--yellow);
}

.stroke-cyan {
    stroke: var(--cyan);
}

.text-fusha {
    color: var(--fuscha);
}

.text-yellow {
    color: var(--yellow);
}

.text-cyan {
    color: var(--cyan);
}

.bg-fusha {
    background-color: var(--fuscha);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-cyan {
    background-color: var(--cyan);
}