body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: var(--light);
    color:  var(--text-color-primary);
  }

  h2{
    color:  hsl(334, 94%, 57%);
  }
  
  .back-button, .toggle-sidebar-button {
    position: fixed;
    top: 10px;
    font-size: 36px; 
    color:hsl(334, 94%, 57%); 
    cursor: pointer;
    z-index: 1000;
  }

  .back-button {
    left: 10px;
  }

  .toggle-sidebar-button {
    right: 10px;
  }

  #sidebar {
    padding: 20px;
    min-height: 100vh;
    border-radius: 0 20px 20px 0;
    box-shadow: 8px 8px 82px hsl(334, 98%, 77%);
}

.scrollable-content {
    overflow-y: auto;
    max-height: 100vh;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}



  .profile-section {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  .profile-section img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile-section h2 {
    margin: 0;
    font-size: 18px;
  }

  .profile-section p {
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.7);
  }

  .menu label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }

  .menu input[type="range"] {
    width: 100%;
  }

  .menu input[type="checkbox"] {
    margin-right: 10px;
  }

  .profile-section img{
    border: 1px solid hsl(334, 96%, 62%);
  }

  .profile-card {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 8px 8px 52px  hsl(334, 94%, 80%);
    margin-top: 20px;
    transition: all 0.3s ease;
  }

  .profile-card img {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .profile-card button {
    background-color: #f53c92;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
  }

  .profile-card p {
    margin-top: 10px;
    color: #888;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .animate__slow {
    --animate-duration: 2s;
  }

  .collapsed-sidebar {
    display: none;
  }

  .expanded-profile-card {
    width: 100%;
  }

  .range-wrapper {
    display: flex;
    align-items: center;
  }
  
  .range-label {
    flex: 1;
    text-align: center;
    color: #333;
  }