{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'icon/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>
<body>
    <nav class="sidebar">
        <div class="aside-header">
            <div class="brand">
                <img src="" width="100%" height="100%">
                <h3>SoulQuest</h3>
            </div>

            <div class="close" id="closeSidebar">
                <span class="bi-chat-fill"></span>
            </div>
        </div>

        <header>
            <h2>Discussions</h2>
        </header>

        <div class="modif">
            <div class="scrollbox">
                <div class="scrollbox-inner">
                    <div class="recent-updates">
                        <div class="updates-container">
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
        
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
        
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
    
                            <div class="update">
                                <div class="profile-image">
                                    <img src="{% static 'image/profile.jpg' %}" alt="" width="100%">
                                </div>
        
                                <div class="message">
                                    <p><strong>Arthur</strong>Lorem ipsum dolor 
                                        sit amet consectetur.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <h2>SoulQuest</h2>
        </footer>
    </nav>

    <div class="content">
        <h1 class="main-title">Suggestions</h1>

        <div class="scrollbox">
            <div class="scrollbox-inner">
                <div class="insights">
                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <img src="{% static 'image/profile.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <strong class="text-cyan">Athur Lozon</strong>
                                    <small class="text-fusha">34 ans</small>
                                </div>
                                <div class="card-progress">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum nam nobis magnam ab, officia dolores sit suscipit saepe dolorem ut in. Ratione iure animi dolores. Repudiandae voluptatum ipsa quia reprehenderit...</p>
                                </div>
                                <div class="card-footer">
                                    <div class="like">
                                        <span class="bi-x icon"></span>
                                        <span class="bi-heart-fill icon"></span>
                                    </div>

                                    <small>Abomey</small>
                                    <small>Capricorne</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <img src="{% static 'image/profile.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <strong class="text-cyan">Athur Lozon</strong>
                                    <small class="text-fusha">34 ans</small>
                                </div>
                                <div class="card-progress">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum nam nobis magnam ab, officia dolores sit suscipit saepe dolorem ut in. Ratione iure animi dolores. Repudiandae voluptatum ipsa quia reprehenderit...</p>
                                </div>
                                <div class="card-footer">
                                    <div class="like">
                                        <span class="bi-x icon"></span>
                                        <span class="bi-heart-fill icon"></span>
                                    </div>

                                    <small>Abomey</small>
                                    <small>Capricorne</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-container">
                            <div class="card-header">
                                <img src="{% static 'image/profile.jpg' %}" alt="" width="100%" height="100%">
                            </div>
                            <div class="card-body">
                                <div class="card-info">
                                    <strong class="text-cyan">Athur Lozon</strong>
                                    <small class="text-fusha">34 ans</small>
                                </div>
                                <div class="card-progress">
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum nam nobis magnam ab, officia dolores sit suscipit saepe dolorem ut in. Ratione iure animi dolores. Repudiandae voluptatum ipsa quia reprehenderit...</p>
                                </div>
                                <div class="card-footer">
                                    <div class="like">
                                        <span class="bi-x icon"></span>
                                        <span class="bi-heart-fill icon"></span>
                                    </div>

                                    <small>Abomey</small>
                                    <small>Capricorne</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2>Contents</h2>
    </div>

    <div class="filter">
        <header class="header-right">

            <button class="toggle-chat" id="openChat">
                <span class="bi-chat-fill icon"></span>
            </button>

            <button class="toggle-chat-1" id="closeChat">
                <span class="bi-chat-fill icon"></span>
            </button>
            
            <button class="toggle-menu-btn" id="openFilter">
                <span class="bi-sliders icon"></span>
            </button>

            <div class="toggle-theme">
                <span class="bi-lightbulb-fill active"></span>
                <span class="bi-lightbulb-off-fill"></span>
            </div>

            <div class="profile">
                <div class="profile-info">
                    <p><strong> {{ user.pseudo }} </strong></p>
                    <small>Admin</small>
                </div>

                <div class="profile-image">
                    <a href="{% url 'Utilisateurs:profil' user.id %}">
                        {% if user.profile_media %}
                            <img src="{{ user.profile_media.url }}" alt="" width="100%">
                        {% else %}
                            <img src="{% static 'image/avatard.avif' %}" alt="" width="100%">
                        {% endif %}
                    </a>
                </div>
            </div>
        </header>
        <div class="fit">
            <div class="filter-header">
                <small>Filtre</small>
            </div>
            <div class="filter-form">
                <div class="scrollbox">
                    <div class="scrollbox-inner">
                        <form action="" class="formm">
                                <div class="form-group">
                                    <div class="sex">
                                        <label for="sex" class="text-cyan">Genre</label>
                                        <select id="sex" name="sex">
                                            <div class="form-element">
                                                <option value="m">Homme</option>
                                                <option value="f">Femme</option>
                                                <option value="b">Non binnaire</option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="relation">
                                        <div class="relation-head text-fusha">
                                            Relation Sérieuse
                                        </div>
                                        <div class="relation-body">
                                            <input type="radio" name="relation" checked>
                                            <input type="radio" name="relation">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="tranche-head text-cyan">
                                        Tranches d'âge
                                    </div>
                                    <div class="tranche-body">
                                        <div class="tranche">
                                            <input type="checkbox" id="1">
                                            <label for="1">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="2">
                                            <label for="2">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="3">
                                            <label for="3">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="4">
                                            <label for="4">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="5">
                                            <label for="5">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="6">
                                            <label for="6">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="7">
                                            <label for="7">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="8">
                                            <label for="8">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="9">
                                            <label for="9">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="10">
                                            <label for="10">18 à 25 ans</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="ville">
                                        <div class="ville-label text-cyan">
                                            <label for="ville">Ville:</label>
                                        </div>
        
                                        <div class="ville-input">
                                            <input type="text" placeholder="Entrez une ville" name="ville" id="ville">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="ville">
                                        <div class="ville-label text-cyan">
                                            <label for="astrale">Signe astrale:</label>
                                        </div>
        
                                        <div class="ville-input">
                                            <input type="text" placeholder="Entrez une astrologique" name="astrale" id="astrale" autocomplete="off" autofocus>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'js/scriptA.js' %}"></script>
</body>
</html>