{% extends 'main _compte.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form action="#" method="post" class="form">
            {% csrf_token %}
            <h2>Connexion</h2>
            <div class="alert">
                {% for message in messages %}
                    <div class="text-danger">{{ message }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Entrez votre email..." required>
            </div>
            <div class="form-group">
                <label for="mdp">Mot de passe</label>
                <input type="password" name="password" id="mdp" class="form-control" placeholder="Entrez votre mot de passe..." required>
            </div>
            <div class="clearfix">
                <label class="form-check-label"><input type="checkbox"> Se souvenir de moi</label>
                <a href="#" class="link">Mot de passe oublié ?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn">Se connecter</button>
            </div>
        </form>
        <p class="text-center"><a href="{% url 'Utilisateurs:inscription' %}" class="link">Créer un compte</a></p>
    </div>
</div>
{% endblock content %}