
{% extends 'main _compte.html' %}

{% block content %}


	<body>
	<div class="registration-form">
		<form action="" method="post">
			{% csrf_token %}
			<h2>Inscription</h2>
			<div class="text-center" style="color: red;">
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			</div>
			
			<!-- Partie visible initialement -->
			<div id="initial-fields">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control" id="email" placeholder="Email" required="required">
				</div>
				<div class="form-group">
					<label for="username">Pseudo</label>
					<input type="text" name="username" class="form-control" id="username" placeholder="Pseudo" required="required">
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" class="form-control" id="password" placeholder="Mot de passe" required="required">
				</div><br>
				<div class="form-group">
					<button type="button" id="nextBtn" class="btn-custom btn-sm">Suivant</button>
				</div>
			</div>
			
			<!-- Partie cachée -->
			<div id="additional-fields" class="hidden">
				<div class="form-group">
					<label for="gender">Sexe</label>
					<select name="sexe" class="form-control" id="gender" required="required">
						<option value="">Sélectionner</option>
						<option value="homme">Homme</option>
						<option value="femme">Femme</option>
						<option value="autre">Autre</option>
					</select>
				</div><br>
				<fieldset>
					<legend>Préférence :</legend>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="preference" id="preference1" value="male" required>
						<label class="form-check-label" for="preference1">Homme</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="preference" id="preference2" value="female" required>
						<label class="form-check-label" for="preference2">Femme</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="preference" id="preference3" value="both" required>
						<label class="form-check-label" for="preference3">Les deux</label>
					</div>
				</fieldset>
				<div class="form-group">
					<label for="relationship_status">Relation</label>
					<select name="relation" class="form-control" id="relationship_status" required="required">
						<option value="">Sélectionner</option>
						<option value="serious">Sérieuse</option>
						<option value="casual">Sans engagement</option>
					</select>
				</div><br>
				<div class="form-group">
					<button type="button" id="backBtn" class="btn-custom btn-sm">Retour</button><br><br>
					<button type="submit" class="btn-custom btn-sm">S'inscrire</button>
				</div>
			</div>
		</form><br>
		<p class="text-center"><a href="{% url 'Utilisateurs:connexion' %}" style="color: #4a2173;">Déjà inscrit ? Connectez-vous</a></p>
	</div>
	

{% endblock content %}
