{% extends 'main _compte.html' %}

{% block content %}
<div class="container">
    <div class="form-container">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Inscription</h2>
            <div class="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            <div id="initial-fields" class="form-step">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Entrez votre email..." required>
                </div>
                <div class="form-group">
                    <label for="pseudo">Pseudo</label>
                    <input type="text" name="pseudo" class="form-control" id="pseudo" placeholder="Entrer votre pseudo..." required>
                </div>
                <div class="form-group">
                    <label for="password1">Mot de passe</label>
                    <input type="password" name="password1" class="form-control" id="password1" placeholder="Entrez votre mot de passe..." required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirmez votre mot de passe</label>
                    <input type="password" name="password2" class="form-control" id="password2" placeholder="Reéntrez votre mot de passe..." required>
                </div>
                <div class="form-group">
                    <button type="button" id="nextBtn" class="btn">Suivant</button>
                </div>
            </div>
            <div id="additional-fields" class="form-step hidden">
                <div class="form-group">
                    <label for="gender">Sexe</label>
                    <select name="sexe" class="form-control" id="gender" required>
                        <option value="">Sélectionner</option>
                        <option value="homme">Homme</option>
                        <option value="femme">Femme</option>
                        <option value="autre">Autre</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">Ville</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Entrez votre ville..." required>
                </div>
                <div class="form-group">
                    <input type="hidden" id="id_latitude" name="latitude">
                </div>
                <div class="form-group">
                    <input type="hidden" id="id_longitude" name="longitude">
                </div>
                <fieldset>
                    <legend>Préférence :</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="preference" id="preference1" value="male" required>
                        <label class="form-check-label" for="preference1">Homme</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="preference" id="preference2" value="female" required>
                        <label class="form-check-label" for="preference2">Femme</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="preference" id="preference3" value="both" required>
                        <label class="form-check-label" for="preference3">Les deux</label>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="relationship_status">Relation</label>
                    <select name="relation" class="form-control" id="relationship_status" required>
                        <option value="">Sélectionner</option>
                        <option value="serious">Sérieuse</option>
                        <option value="casual">Sans engagement</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="birthday" class="form-label">Date de naissance</label>
                    <input type="date" id="birthday" class="form-control" name="birthday">
                </div>
                <div class="form-group">
                    <label for="profile_media">Photo de profil</label>
                    <input type="file" name="profile_media" class="form-control" id="profile_media" required onchange="previewImage(event)">
                    <div class="preview-container" style="display: flex; justify-content: center; align-items: center; height: 200px;">
                        <img id="preview" src="#" alt="Prévisualisation de l'image" style="display: none; max-width: 150px; height: auto; border-radius: 10%; border: 2px solid #ddd; padding: 5px;">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" id="backBtn" class="btn">Retour</button><br>
                    <button type="submit" class="btn">S'inscrire</button>
                </div>
            </div>
        </form>
        <p class="text-center"><a href="{% url 'Utilisateurs:connexion' %}" class="link">Déjà inscrit ? Connectez-vous</a></p>
    </div>
</div>

<script>
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
            var dataURL = reader.result;
            var output = document.getElementById('preview');
            output.src = dataURL;
            output.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>

{% endblock content %}