{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Profil</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.9/css/boxicons.min.css" rel="stylesheet">
  <link href="{% static 'css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/aos.css' %}" rel="stylesheet">
  <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Custom CSS Files -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style2.css' %}" rel="stylesheet">
  <link href="{% static 'css/style_profil.css' %}" rel="stylesheet">
</head>

<body>
  <a href="{% url 'acceuil' %}" class="back-button" style="display: inline-block; color: rgb(253, 56, 214); font-size: 24px; text-decoration: none; margin-bottom: 20px;">
    <i class="bi bi-arrow-left" style="font-size: 48px;color: black;margin-left: 80px;"></i>
</a>

  <div class="container">
    <div class="row">
      <div id="sidebar" class="col-md-4 mt-2 sidebar animate__animated animate__fadeInLeft animate__slow" data-aos="fade-right">
        <div class="profile-section scrollable-content">
          {% if user.profile_media %}
                <img src="{{ user.profile_media.url }}" alt="" width="100%">
          {% else %}
                <img src="{% static 'image/avatard.avif' %}" alt="" width="100%">
          {% endif %}
          <h2 class=""><strong>{{user.pseudo}}</strong></h2>
        </div>
        {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <strong>{{ message }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <div class="menu">
          <form action="{% url 'Utilisateurs:update_account' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Adresse e-mail</label>
                <input type="email" id="email" class="form-control" name="email" value="{{ user.email }}">
            </div>
            <div class="mb-3">
                <label for="pseudo" class="form-label">Pseudo</label>
                <input type="text" id="pseudo" class="form-control" name="pseudo" value="{{ user.pseudo }}">
            </div>
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" id="nom" class="form-control" name="nom" value="{{ user.nom }}">
            </div>
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" id="prenom" class="form-control" name="prenom" value="{{ user.prenom }}">
            </div>
            <!--<div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="text" id="password" class="form-control" name="password" value="{{ user.password }}">
            </div>-->
            <div class="mb-3">
                <label for="birthday" class="form-label">Date de naissance</label>
                <input type="date" id="birthday" class="form-control" name="birthday" value="{{ user.birthday|date:'Y-m-d' }}">
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Biographie</label>
                <textarea id="bio" class="form-control" name="bio">{{ user.bio }}</textarea>
            </div>
            <div class="mb-3">
                <label for="sex" class="form-label">Sexe</label>
                <input type="text" id="sex" class="form-control" name="sex" value="{{ user.sex }}">
            </div>
            <div class="mb-3">
                <label for="plage" class="form-label">Plage</label>
                <input type="text" id="plage" class="form-control" name="plage" value="{{ user.plage }}">
            </div>
            <div class="mb-3">
                <label for="astre" class="form-label">Astre</label>
                <input type="text" id="astre" class="form-control" name="astre" value="{{ user.astre }}">
            </div>
            <div class="mb-3">
                <label for="religion" class="form-label">Religion</label>
                <input type="text" id="religion" class="form-control" name="religion" value="{{ user.religion }}">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Ville</label>
                <input type="text" id="city" class="form-control" name="city" value="{{ user.city }}">
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Pays</label>
                <input type="text" id="country" class="form-control" name="country" value="{{ user.country }}">
            </div>
            <!--<div class="mb-3">
                <label for="hobby" class="form-label">Hobbies</label>
                <textarea id="hobby" class="form-control" name="hobby">{{ user.hobby|default:"[]" }}</textarea>
            </div>
            <div class="mb-3">
                <label for="pref" class="form-label">Préférences</label>
                <textarea id="pref" class="form-control" name="pref">{{ user.pref|default:"[]" }}</textarea>
            </div>-->
            <button type="submit" class="btn btn-warning">
              Mettre à jour<i class="bi bi-pencil"></i> 
            </button>        
          </form><hr>
          <input type="text" name="" id="" value="Action" class="bg-white text-danger form-control text-center">

          <div class="mt-2 ml-3">
        
              <a href="{% url 'Utilisateurs:logout' %}"><button type="submit" class="btn btn-success">Déconnecter</button></a>
        
            <!-- Bouton pour déclencher le modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
              Supprimer mon compte
            </button>
          </div>
        </div>

        <a href="{% url 'Utilisateurs:index' %}">
          <h5 class="text-center mt-4" style="text-decoration: underline;">SoulQuest - 2024</h5>
        </a>
      </div>
      <div id="profile-card-container" class="col-md-8">
        <div id="profile-card" class="profile-card mx-auto animate__animated animate__fadeInRight animate__slow" data-aos="fade-left">
                    {% if user.profile_media %}
                        <img src="{{ user.profile_media.url }}" alt="" width="100%">
                    {% else %}
                        <img src="{% static 'image/avatard.avif' %}" alt="" width="100%">
                    {% endif %}
          <h2><strong>{{user.pseudo}}</strong></h2>

          <button class="btn" onmouseover="pauseAnimation(this)" onmouseout="resumeAnimation(this)">Modifier vos informations</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal de bienvenue -->
<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true" style="font-family: 'Roboto', sans-serif;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="welcomeModalLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
              <h2 class="mb-4">Bienvenue sur SoulQuest !</h2>
              <p>Pour une meilleure suggestion, veuillez compléter votre profil. Voulez-vous compléter maintenant ?</p>
              <div class="d-flex justify-content-center mt-4">
                  <a href="{% url 'Utilisateurs:profil' user.id %}">
                      <button type="button" class="btn btn-primary mx-2" id="completeProfileBtn">Oui</button>
                  </a>
                  <a href="{% url 'acceuil' %}">
                      <button type="button" class="btn btn-danger mx-2" id="visitFriendsBtn">Non</button>
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Modal de confirmation de suppression de compte -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <img src="{% static 'image/supprimer.jfif' %}" alt="Supprimer" class="img-fluid d-block mx-auto" style="max-width: 80px;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <strong>Êtes-vous sûr de vouloir supprimer votre compte ?</strong>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Annuler</button>
        <form action="{% url 'Utilisateurs:delete_account' %}" method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mx-2">Supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Bibliothèques JavaScript tierces -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/glightbox.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<!-- Scripts personnalisés -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/main2.js' %}"></script>

<!-- Script pour afficher le modal de bienvenue -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    {% if new_user %}
    var welcomeModal = new bootstrap.Modal(document.getElementById('welcomeModal'));
    welcomeModal.show();
    {% endif %}
  });

  
</script>

</body>
</html>
