{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'icon/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <nav class="sidebar">
        <div class="aside-header">
            <div class="brand">
                <img src="{% static 'image/profile.jpg' %}" width="100%" height="100%">
                <h3>SoulQuest</h3>
            </div>

            <div class="close" id="closeSidebar">
                <span class="bi-chat-fill"></span>
            </div>
        </div>

        <header>
            <h2>Discussions</h2>
        </header>

        <div class="modif">
            <div class="scrollbox">
                <div class="scrollbox-inner">
                    <div class="recent-updates">
                        <div class="updates-container">
                            {% for items in user_Message %}
                                <div class="update">
                                    <a href="/Utilisateurs/profil/{{items.1.id}}">
                                        <div class="profile-image">
                                        <img src="{{items.1.profile_media.url}}" alt="" width="100%">
                                        </div>
                                    </a>
            
                                    <a href="/chat/disc/{{items.4}}">
                                        <div class="message">
                                        <p><strong>{{items.1.pseudo|slice:":15"|truncatechars:15 }}</strong>
                                            <small>{{items.2|slice:":50"|truncatechars:50 }}</small>
                                        </p>
                                        {% if items.1.online %}
                                            <small>En ligne</small>
                                        {% endif %}
                                        </div>
                                    </a>
                                </div>
                            {% empty %}
                                
                            {% endfor %}
        
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <h2>SoulQuest</h2>
        </footer>
    </nav>

    <div class="content">
        <h1 class="main-title">Suggestions</h1>

        <div class="chat-card">
            <div class="chat-header">
                <div class="back">
                    <a href="#"><span class="bi-arrow-left"></span></a>
                </div>

                <div class="chat-user">
                    <p>{{actif.pseudo|slice:":15"|truncatechars:15 }}</p>
                    {% if actif.online %}
                    <small>En ligne</small>
                    {% endif %}
                </div>

                <div class="chat-call">
                    <a href="#"><span class="bi-telephone-fill"></span></a>
                    <a href="#"><span class="bi-camera-video-fill"></span></a>
                </div>
            </div>

            <div class="scrollbox">
                <div class="scrollbox-inner">
                    <div class="small-talk" id="smallTalk">

                    </div>
                </div>
            </div>

                <form id="chat-form" class="chat-footer">
                    {% csrf_token %}
                    <div class="container-chat">
        
                        <div class="chat-file-logo">
                            <span class="bi-paperclip"></span>
                        </div>
        
                        <div class="chat-group">
                            <textarea name="message" id="message" placeholder="Entrez votre message" minlength="1" autofocus></textarea>
                            <span class="bi-camera-fill"></span>
                        </div>
                        <input type="number" hidden="hidden" value="{{ disc }}" id="disc" >
                        <button id="chatSubmit" class="chat-submit" type="submit">
                            <span class="bi-send"></span>
                        </button>
                        
                    </div>
                </form>

        </div>
        <h2>Contents</h2>
    </div>

    <div class="filter">
        <header class="header-right">

            <button class="toggle-chat" id="openChat">
                <span class="bi-chat-fill icon"></span>
            </button>

            <button class="toggle-chat-1" id="closeChat">
                <span class="bi-chat-fill icon"></span>
            </button>
            
            <button class="toggle-menu-btn" id="openFilter">
                <span class="bi-sliders icon"></span>
            </button>

            <div class="toggle-theme">
                <span class="bi-lightbulb-fill active"></span>
                <span class="bi-lightbulb-off-fill"></span>
            </div>

            <div class="profile">
                <div class="profile-info">
                    <p>Salut, <strong>Afriquetec</strong></p>
                    <small>Admin</small>
                </div>

                <div class="profile-image">
                    <img src="images/profile.jpg" alt="" width="100%">
                </div>
            </div>
        </header>
        <div class="fit">
            <div class="filter-header">
                <small>Filtre</small>
            </div>
            <div class="filter-form">
                <div class="scrollbox">
                    <div class="scrollbox-inner">
                        <form action="" class="formm">
                                <div class="form-group">
                                    <div class="sex">
                                        <label for="sex" class="text-cyan">Genre</label>
                                        <select id="sex" name="sex">
                                            <div class="form-element">
                                                <option value="m">Homme</option>
                                                <option value="f">Femme</option>
                                                <option value="b">Non binnaire</option>
                                            </div>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="relation">
                                        <div class="relation-head text-fusha">
                                            Relation Sérieuse
                                        </div>
                                        <div class="relation-body">
                                            <input type="radio" name="relation" checked>
                                            <input type="radio" name="relation">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="tranche-head text-cyan">
                                        Tranches d'âge
                                    </div>
                                    <div class="tranche-body">
                                        <div class="tranche">
                                            <input type="checkbox" id="1">
                                            <label for="1">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="2">
                                            <label for="2">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="3">
                                            <label for="3">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="4">
                                            <label for="4">18 à 25 ans</label>
                                        </div>
                                        <div class="tranche">
                                            <input type="checkbox" id="5">
                                            <label for="5">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="6">
                                            <label for="6">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="7">
                                            <label for="7">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="8">
                                            <label for="8">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="9">
                                            <label for="9">18 à 25 ans</label>
                                        </div>
        
                                        <div class="tranche">
                                            <input type="checkbox" id="10">
                                            <label for="10">18 à 25 ans</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="ville">
                                        <div class="ville-label text-cyan">
                                            <label for="ville">Ville:</label>
                                        </div>
        
                                        <div class="ville-input">
                                            <input type="text" placeholder="Entrez une ville" name="ville" id="ville">
                                        </div>
                                    </div>
                                </div>
    
                                <div class="form-group">
                                    <div class="ville">
                                        <div class="ville-label text-cyan">
                                            <label for="astrale">Signe astrale:</label>
                                        </div>
        
                                        <div class="ville-input">
                                            <input type="text" placeholder="Entrez une astrologique" name="astrale" id="astrale" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'js/scriptA.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          // Fonction pour faire défiler la div vers le bas
          function scrollToBottom() {
            let messagesDiv = $("#smallTalk");
            messagesDiv.scrollTop(messagesDiv.prop("scrollHeight"));
          }
        
          // Exemple d'ajout d'un nouveau message
        });
        </script>
</body>
</html>