{%  load static%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Connexion</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'Utilisateurs/css/connexion_style.css'%}">
<link rel="stylesheet" href="{% static 'Utilisateurs/css/inscription_style.css'%}">

</head>


{% block content %}

{% endblock content %}



<script src="{% static 'Utilisateurs/js/inscription_script.js' %}"></script>

</body>
</html>